<div id="app">
    <div><video #video id="video" width="640" height="480" autoplay></video></div>
    <div><button id="snap" (click)="capture()">Snap Photo</button></div>
    <br>
    <canvas #canvas id="canvas" width="640" height="480"></canvas>
    <!-- <ul>
        <li *ngFor="let c of captures">
            <img src="{{ c }}" height="50" />
        </li>
    </ul> -->
    <br>
    <img src="{{ photo }}" height="250" />
    <br>
    <div *ngIf="photo"><button id="snap" (click)="send()">Send</button></div>
</div>
<h1 *ngIf="response">{{ response }}</h1>
